* {
    box-sizing: border-box;
  }

  body {
    /* min-height: 100vh; */
    margin: 0;
    background-color: #205989;
    font-family: Helvetica;
  }

  #page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid pink;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    padding-bottom: 3rem;
  }

  nav, footer {
    display: flex;
    justify-content: space-between;
    color: #EE5C39;
    background-color: #374b4e;
    opacity: .90;
    padding: 10px 20px;
    gap: 10px;
    height: 65px;
    width: 100%;
  }

  #navIcon{
    display: flex;
    border: 3px solid red;
    width: 33%;
    transition: all 0.3s ease;
  }

  .navText {
    font-family: Helvetica;
    font-size: 15px;
  }

  i:hover {
    background-color: #b9f1fc;
  }


  i {
    color: #EE5C39;
    font-size: 30px;
  }

  footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 3rem;
  }

  p.footer {
    width: 50%;
  }

  a:link {
    color: #EE5C39;
  }

  a:visited {
    color: #b9f1fc;
  }

  a:hover {
    color: #ffffff;
  }

  #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Press Start 2P';
    font-size: 1rem;
  }

  #logoImg {
    max-height: 35%;
    max-width: 35%;
    box-shadow: 1px 1px 5px 4px #b9f1fc;
  }

  img {
    max-height: 40%;
    max-width: 40%;
    margin: 15px auto;
    border-radius: 15px;
  }

  #title {
    margin: 15px auto;
    color: #EE5C39;
  }

  form {
    display: flex;
    justify-content: center;
    height: 35px;
    margin: 15px 15px;
    gap: 10px;
  }

  #game {
    width: 75%;
    color: #374b4e;
  }

  #searchGame {
    background-color: #EE5C39;
    box-shadow: 1px 1px 2px 2px #b9f1fc;
    color: #374b4e;
    font-weight: bold;
  }

  #gameDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 25px 20px;
  }

#gameTitle {
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: #EE5C39;
  font-weight: bold;
}

#gameDescription {
  color: white;
  padding-bottom: 15px;
}