* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: #205989;
    font-family: Helvetica;
  }

  #page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    padding-bottom: 3rem;
  }

  nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EE5C39;
    background-color: #374b4e;
    opacity: .90;
    padding: 10px 20px;
    gap: 10px;
    height: 3.5rem;
    width: 100%;
  }

  nav>a{
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    width: 33%;
    transition: all 0.3s ease;
  }

  i {
    color: #EE5C39;
    font-size: 35px;
  }

  i:hover {
    background-color: #b9f1fc;
  }

  footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 3rem;
  }

  p.footer {
    width: 50%;
  }

  a:link {
    color: #EE5C39;
  }

  a:visited {
    color: #b9f1fc;
  }

  a:hover {
    color: #ffffff;
  }

  #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    text-align: center;
  }

  #logoImg {
    height: auto;
    max-width: 50%;
    box-shadow: 1px 1px 5px 4px #b9f1fc;
  }

  img {
    height: auto;
    max-width: 50%;
    margin: 15px auto;
    border-radius: 15px;
  }

  #title {
    margin: 15px auto;
    color: #EE5C39;
    font-size: 1.16rem;
  }

  form {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100%;
    margin: 15px 20px;
    gap: 10px;
  }

  #game {
    width: 50%;
    color: #374b4e;
  }

  #searchGame {
    background-color: #EE5C39;
    box-shadow: 1px 1px 2px 2px #b9f1fc;
    color: #374b4e;
    font-weight: bold;
  }

  #gameDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 25px 20px;
  }

#gameTitle {
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: #EE5C39;
  font-weight: bold;
}

#gameDescription {
  color: white;
  padding-bottom: 15px;
}

/* Styling for logo and page titles on Game List and About pages */
#logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P';
  padding: 20px 35px;
  column-gap: 20px;
}

#title {
  text-align: center;
}

/* Styling content on Game List page */
#gameList {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  align-items: center;
  padding: 20px;
  text-align: center;
}

#underConstruction {
  max-width: 350px;
}

/* Styling content on the About Us page */
#aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 35px 15px 35px;
  gap: 20px;
}

.aboutTitle {
  font-family: 'Press Start 2P';
  color: #EE5C39;
  text-align: center;
  padding-top: 15px;
}

.aboutContent {
  color: white;
}

/* Styling for screens larger than 750px */
@media (min-width: 750px) {
  #page-container {
    max-width: 100%;
    font-size: 1.5rem;
  }
  
  #title {
    font-size: 1.6rem;
  }

  #gameDisplay {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 30px;
  }

  #gameImage {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    height: auto;
    max-width: 80%;
  }

  #gameTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
    align-self: flex-end;
  }

  #gameDescription {
    padding: 0;
  }

  #learnMore {
    align-self: flex-start;
  }
}

/* Styling for screens larger than 1250px */
@media (min-width: 1250px) {
  body {
    width: 1250px;
    height: 75%;
    margin: auto;
    background-color: black;
  }

  #page-container {
    background-color: #205989;
  }
}